.container{ 
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.container-start{
    justify-content: start;
    text-align: start;
    padding: 0 0 0 50px;
    gap: 0;
    margin: 0;
}

.container-vertical{
    display: grid;
    grid-template-columns: 1f;
}

.container-inline{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: start;
}

.container-secundary{
    background-color: var(--color-secundary);
    width: 100%;
}

.grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
}