.containerDouble{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.containerLef{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: var(--color-primary);
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgLogin{
}

.textLeft{
    width: 100%;
    text-align: start;
    margin-left: 30%;
    color: white;
}

.textLeft h1{
    color: var(--color-light);
    margin: 0;
    font-size: 100px;
}

.textLeft p {
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    margin-left: 5px;
}

.logo{
    height: 50px;
    width: 50px;
}

.containerLogo{
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    display: flex;
}

.containerForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.input{
    max-height: 40px;
    min-height: 40px;
    flex: 1;
    border: none;
    border-bottom: 0.5px solid rgb(0, 0, 0);
    padding: 5px;
}

.containerRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerPass {
    display: flex;
    width: 100%; /* garante que ocupe o espaço do .containerForm */
}

.buttonPass {
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
    border: none;
    min-width: 50px;
    border-radius: 5px;
}

.button{
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--color-primary);
    color: white;
}

.containerButtonBack{
    display: flex;
    width: 50%;
    text-align: start;
    align-items: center;
    gap: 5px;
}

.buttonBack{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}